<% unless @pictures.empty? %>
    <div class="ph_sec">
        <% @pictures.each do |pic| %>
            <div class="photo_edit">
                <i class="material-icons">edit</i>
                <i class="material-icons">cancel</i>
                <%= image_tag pic.image.url %>
                <div class="img-overlay">
                    <button class="btn btn-md btn-success">Button</button>
                </div>
            </div>
        <% end %>
<% end %>