<body>
    
    <div class="landing_page">
        <div class="nav_bar_landing">
             <div class="nav_bar_name">
                <h1>Matcha</h1>
            </div>
            <div class="nav-links-container_l">
                <%= button_to 'Sign Up', '/signup', :class => 'si_button'%>
                <%= link_to 'Already have an account?', '/login', :class => 'nav-links_l' %>
            </div>
        </div>
        <div class="container">
            <h1>Matcha</h1>
            <br> A different type of Dating<br/>
            <%= link_to 'Experince it now, Sign up', '/signup'%>
        </div>
    </div>
</body>