// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.landing_page{
	margin: 0;
	width: 100%;
	height: 100vh;
	color: black;
	background: linear-gradient(-45deg, #9be963,  #9aee80, #57a85a, #368f24);
	background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  .nav_bar_landing {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav_bar_name {
      text-transform: uppercase;
      margin-left: 2rem;
    }
    .nav-links-container_l {
      margin-right: 2rem;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      .nav-links_l {
        text-decoration: none;
        color: #333;
        margin: 0 0.5rem;
        
      }
      a {
        padding: 15px;
        height: 20px;
      }
      a:hover {
        background-color: #fcfcfc8e;
        border-radius: 10px 10px 10px 10px;
        color: #333;
      }
      .si_button {
        border: none;
        background-color: transparent;
        // font-size: 20px;
        color: #333;
      }
      .si_button:hover {
        background-color: #fcfcfc8e;
        color: black;
      }
    }
  }
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.m_c {
  width: 100%;
  .container {
    position: absolute;
    text-align: center;
    background-color: white;
    /* margin-left: 40vw; */
    width: 100%;
    /* height: 30%; */
    padding: 50px 0 50px 0;
    a {
      text-decoration: none;
      color: black;
    }
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
}