// Place all the styles related to the Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.settings_page{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(163, 171, 206);
    
    .nav_bar_main {
      width: 100%;
      height: 60px;
      border-bottom: 1px solid #222;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // position: fixed;
      .nav_bar_name {
        text-transform: uppercase;
        margin-left: 1rem;
        text-decoration: none;
        color: black;
        display: flex;
        h1 {
          font-size: xx-large;
        }
      
        .search_b {
          position: inherit;
          margin-left: 10px;
          .search-fa-link {
            display: none;
          }
          .form-fa-se {
              float: right;
              // margin: 15px 10px 10px 0;
              // background-color: white;
              border-radius: 20px;
              display: flex;
              height: 40px;
              i {
                margin: 5px;
              }
              
              .search_input {
                    border: 0;
                    padding: 15px;
                    margin: 0;
                    // background: rgba(255, 255, 255, 0.671);
                    font: 13px sans-serif;
                    // height: 30px;
                    font-size: 15px;
                    border-radius: 20px 0px 0px 20px;
              }
              .search_input:focus {
                  outline:0 !important; 
              }
              .search_button {
                border:none;
                border-radius: 0px 20px 20px 0px;
              }
          }
        }
    }
      .nav-links-container {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        .nav-links {
          text-decoration: none;
          color:black;
          margin-right: 0.1rem;
          // display:inline-block;
          i {
            padding: 10px;
          }
        }
        a:hover {
          background-color: #fcfcfc8e;
          border-radius: 60%;
          color: #333;
        }
        .log_o {
          border-left: #333 0.5px solid;
          height: 44px;
          display: grid;
          .lg-b {
            text-decoration: none;
            color: #333;
            margin: 0px 1rem 0px 0.4em;
            padding: 12px 10px 10px 10px;
            a{
              padding: 0;
              margin-top: 5px;
            }
          }
          .lg-b:hover {
            border-radius: 10px 10px 10px 10px;
          }
        }
        .p-b {
          
          text-decoration: none;
          color:black;
          margin-right: 0.3rem;         
          padding-right: 12px;
          i {
            padding: 10px 5px 0 8px;
            float: left;
          }
          p {
            float: right;
            margin-top: 12px;
          }
          a {
            padding: 0;
            margin: 0;
          }
        }
        .p-b:hover {
          border-radius: 10px 10px 10px 10px;
        }
      }
      .icons-container {
        display: flex;
        margin-right: 1rem;
        justify-content: space-between;
      }
    }

    .notice {
      background-color: rgba(255, 255, 255, 0.753);
      padding: 20px;
      text-align: center;
    }
    
    .nav {
      border-bottom: 1px solid #333;
      // border-width:1px 0;
      list-style:none;
      margin:0;
      padding:0;
      text-align:center;
    }
    .nav li{
      display:inline;
      padding: 0 2% 0 2%;
      // margin: ;
      // margin: 15px 15%;
        // padding: 15%; //I may need to change this later
        .material-icons{
              font-size: 40px;
              color: black;
              padding: 10px;
          }
    }
    .nav a{
      display:inline-block;
      padding:10px;
      text-decoration: none;
      color: #333;
      padding: 10px;
      margin: 10px;
      width: 100px;
        p{
          margin-top: 0;
        }
    }
    .nav a:hover {
      background: rgba(253, 251, 251, 0.692);
      border-radius: 10px 10px 10px 10px;
    }
    .m_p{
      display: flex;
      justify-content: center;
      // margin: 0 0 0 300px;
      .user_forms{
        // padding: 5%;
        // margin: 5%; 
        // margin: 4vh 0 50px 0;
        text-align: center;
        width: 100%;
        font-size: 20px;
          h3{
            padding-bottom: 1.5vh;
          }
          .form_edit {
            padding: 50px;
            text-align: left;
            text-transform: uppercase;
            margin-right: 2rem;
            .form_ {
              width: 400px;
                // label {
                // padding-left: 10px;
                // margin-left: 10px;
                // margin-bottom: 10px;
                // }
                // input {
                // min-width: 70%;
                // padding: 12px 20px;
                // margin: 8px 0;
                // box-sizing: border-box;
                // font-size: 13px;
                  // text-transform: lowercase;
                // }
                .form_c {
                  background-color: white;
                  float: left;
                  width: 100%;
                  padding: 12px 20px;
                  margin: 8px 0;
                  box-sizing: border-box;
                  border: none;
                  font-size: 13px;
                }
                .l_form {
                  color: rgb(63, 63, 63);
                  padding-left: 10px;
                  // background-color: aqua;
                }
                .f_s_b {
                  text-transform: uppercase;
                  background-color: white;
                  width: 130px;
                  height: 130px;
                  border-radius: 50%;
                  float: center;
                  margin-left: 35%;
                  margin-top: 30px;
                  border: none;
                }
                .f_s_b:hover {
                  background-color: white;
                  border: #333 1px solid;
                  // color: white;
                }
                .rad {
                  background-color: red;
                }
                .inter_check{
                  margin-left: 20px;
                  padding: 2px 0;
                  check_box {
                    background-color: red;
                    padding: 20px;
                  }
                }
            }
          }
        }
          
      .l_v_m {
        .matches {
          width: 605px;
          margin: 0 0 2% 2%;
          text-align: center;
          height: 200px;
          border-bottom: #333 1px solid;
        }
        .likes {
          display: inline-block;
          width: 275px;
          text-align: center;
          padding-right: 10px;
          padding-left: 10px;
          margin: 0 0 0 2%;
          border-right: #333 1px solid;
          .l_l {
            text-align: left;
          }
        }
        .views {
          display: inline-block;
          width: 275px;
          text-align: center;
          padding-left: 25px;
          
          // margin: 0 0 0 2%;
          height: 90vh;
          .v_l {
            text-align: left;
          }
        }
      }
    }
  }