<li>
      <div class='message_con'>
            <%= image_tag message.user.profile.avatar.url(:thumb) %>
            <div class='sen_user'>
                  <p><%= message.user.first_name%></p>
            </div>
            <div class='mess_body'>
                  <p><%= message.body %></p>
            </div>
      </div>
</li>