<div class="footer_session">
    <%= link_to "ABOUT THIS PROJECT"  %> 
    <%= link_to "MY GITHUB", "https://github.com/settleformore", :target => "_blank" %> 
    <%= link_to "MY LINKEDIN", "https://www.linkedin.com/in/sabrina-settle/", :target => "_blank" %> 
</div>